---
import Header from "../../components/Header.astro";
import Sidebar from "../../components/Sidebar.astro";
import Project from "../../components/Project.astro";
import { projectData } from "../../i18n/data";
import { ui } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utils";

export function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "pt" } }];
}

const { lang } = Astro.params;
const t = useTranslations(lang as keyof typeof ui);
const projects = projectData[lang as keyof typeof ui].projects;
---

<!doctype html>
<html>
  <Header title="Ian" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>{t("hero.greeting")}<br />{t("hero.role")}</h1>
              <p class="lead">
                {t("hero.description")}
              </p>
            </div>
            <a href="mailto:ianhein50@gmail.com" class="button w-button"
              >{t("hero.contact")}</a
            >
          </main>
          <div class="projects-section">
            <section class="items-container">
              <div class="resouce-items">
                {
                  projects.map((project) => (
                    <Project
                      title={project.title}
                      desc={project.desc}
                      tech={project.tech}
                      url={project.url}
                    />
                  ))
                }
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
